body {
  height: 3000px;
}
.bottom-right {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 4;
}
.right-sidebar {
  background-color: green;
  color: black;
  width: 200px;
  height: 668px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.background-element {
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  bottom: 0;
  top: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
 .modal {
  width: 300px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 5px;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}
.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  height: 60px;
  z-index: 3;
}
.left-section {
  display: flex;
  align-items: center;
}
.profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
}
.name {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  font-weight: bold;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  margin-right: 3px;
}
.message-button {
  background-color: rgb(230, 230, 230);
  border: none;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
}
.left-sidebar1 {
  background-color: rgb(33, 33, 33);
  position: fixed;
  height: 200px;
  left: 0;
  bottom: 0;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 5;
}
.picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 10px;
}
.left-sidebar2 {
  background-color: rgb(55, 55, 55);
  position: fixed;
  height: 200px;
  left: 70px;
  bottom: 0;
  width: 150px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 6;
}
.left-sidebar2-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.name-info {
  color: white;
  font-size: 14px;
}
.create-new {
  color: rgb(150, 150, 150);
  font-size: 25px;
}
.channel {
  color: rgb(150, 150, 150);
  margin-bottom: 16px;
}